* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background-color: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  animation: bgShift 15s ease infinite;
  background: linear-gradient(45deg, #1e1e1e, #282828);
  background-size: 200% 200%;
}

.particle {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: moveParticles 10s linear infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
}

@keyframes moveParticles {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(50vw);
    opacity: 0;
  }
}

@keyframes bgShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
